<ion-header>
  <ion-toolbar>
    <ion-icon
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light-black">
  <div class="content-center" style="display: flex; justify-content: center;">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-icon style="font-size: 50px;" name="key-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h4>Reset Your Password?</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <section class="form-inputs">
            <form [formGroup]="resetPass" (ngSubmit)="onSubmit()">
              <ion-input
                class="input"
                type="password"
                formControlName="password"
                placeholder="New Password"
              ></ion-input>
              <ion-input
                class="input"
                type="password"
                formControlName="confirmedPassword"
                placeholder="Confirm Password"
              ></ion-input>
              <ion-button type="submit" class="brder-btn shopping-button">
                Send</ion-button
              >
            </form>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
