<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Signup Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="form-logo">
    <img src="../../../assets/icons/sharing.svg" />
  </section>
  <section class="form-inputs">
    <p class="form-text">Sign up Form</p>
    <form [formGroup]="signupForm" class="signupForm" (ngSubmit)="onSubmit()">
      <ion-input
        class="input"
        type="text"
        placeholder="Enter your Full Name"
        formControlName="name"
      ></ion-input>
      <span
        style="color: red;"
        *ngIf="
          signupForm.get('name').hasError('required') &&
          signupForm.get('name').touched
        "
        >Please enter name</span
      >
      <ion-input
        class="input"
        type="text"
        placeholder="Enter your Email"
        formControlName="email"
      ></ion-input>
      <ion-input
        class="input"
        type="password"
        placeholder="Enter your Password"
        formControlName="password"
      ></ion-input>
      <span
        style="color: red;"
        *ngIf="
          signupForm.get('password').hasError('required') &&
          signupForm.get('password').touched
        "
        >Please enter password</span
      >
      <ion-select
        formControlName="country"
        class="input"
        placeholder="Choose your Country"
        (ionChange)="selectCountry($event)"
      >
        <ion-select-option
          *ngFor="let country of countries"
          value="{{ country.Name }}"
          >{{ country.Name }}</ion-select-option
        >
      </ion-select>
      <ion-input
        class="input"
        type="text"
        placeholder="Country Code"
        formControlName="country_code"
      ></ion-input>
      <ion-input
        class="input"
        type="tel"
        placeholder="Enter your mobile Number"
        formControlName="mobile"
      ></ion-input>
      <span
        style="color: red;"
        *ngIf="
          signupForm.get('mobile').hasError('required') &&
          signupForm.get('mobile').touched
        "
        >Please enter your mobile number</span
      >
      <span
        style="color: red;"
        *ngIf="
          signupForm.get('mobile').hasError('maxlength') ||
          (signupForm.get('mobile').hasError('minlength') &&
            signupForm.get('mobile').touched)
        "
      >
        and max and min length 10 digit</span
      >
      <ion-select
        class="input"
        (ionChange)="typeChanged($event)"
        interface="action-sheet"
        placeholder="Select you profile"
        formControlName="profile"
      >
        <ion-select-option value="Consumer">Customer</ion-select-option>
        <ion-select-option value="ServiceProvider"
          >Service Provider</ion-select-option
        ></ion-select
      >
      <span
        style="color: red;"
        *ngIf="
          signupForm.get('profile').hasError('required') &&
          signupForm.get('profile').touched
        "
        >Please select profile</span
      >
      <ion-button type="submit" class="brder-btn button shopping-button">
        Sign Up</ion-button
      >
    </form>
  </section>
</ion-content>
