<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Signup Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="form-logo">
    <img src="../../../assets/icons/sharing.svg" />
  </section>
  <section class="form-inputs">
    <p class="form-text">Sign up Form</p>
    <form [formGroup]="signupForm" class="signupForm" (ngSubmit)="onSubmit()" >
      <ion-input class="input" type="text" placeholder="Enter your Full Name" formControlName="name"></ion-input>
      <ion-input class="input" type="password" placeholder="Enter your Password" formControlName="password"></ion-input>
      <ion-input class="input" type="tel" placeholder="Enter your mobile Number" formControlName="mobile"></ion-input>

      <ion-select class="input" (ionChange)="typeChanged($event)" interface="action-sheet" placeholder="Select you profile">
        <ion-select-option value="customer">Customer</ion-select-option>
        <ion-select-option value="service_provider">Service Provider</ion-select-option></ion-select>

      <ion-select *ngIf="isUser"  class="input" placeholder="Chose your service" formControlName="service" okText="Ok" cancelText="Cancel">
        <ion-select-option value="grocery">Grocery</ion-select-option>
        <ion-select-option value="medicines">Medicines</ion-select-option>
        <ion-select-option value="restarunts">Restaurants</ion-select-option>
        <ion-select-option value="banks">Banks</ion-select-option>
        <ion-select-option value="gasStation">Gas Station</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
      <ion-button type="submit" class="brder-btn button shopping-button "> Sign Up</ion-button>
    </form>
  </section>
</ion-content>