<ion-content class="light-black">
  <div class="content-center">
    <section class="form-logo">
      <img src="../../../assets/icons/queued-logo.svg" />
    </section>
    <section class="form-inputs">
      <form [formGroup]="signinForm" class="signupForm" (ngSubmit)="onSubmit()">
        <ion-input
          class="input"
          type="number"
          placeholder="Mobile Number"
          formControlName="mobile"
        ></ion-input>
        <span
          style="color: red;"
          *ngIf="
          signinForm.get('mobile').hasError('required') &&
          signinForm.get('mobile').touched
        "
          >Please enter your mobile number</span
        >
        <ion-input
          class="input"
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
        <span
          style="color: red;"
          *ngIf="
          signinForm.get('password').hasError('required') &&
          signinForm.get('password').touched
        "
          >Please enter your password</span
        >
        <ion-button
          [disabled]="!signinForm.valid"
          type="submit"
          class="brder-btn shopping-button"
        >
          Login</ion-button
        >
      </form>
    </section>
    <section class="form-inputs">
      <p class="form-text" style="font-size: 12px; font-family: sans-serif;">
        <a
          [routerLink]="['/forgot-password']"
          style="color: #ffff; text-decoration: underline;"
        >
          Forgot Password ?</a
        >
      </p>
    </section>

    <section class="form-inputs">
      <p class="form-text" style="font-size: 12px; font-family: sans-serif;">
        Don't have an account ?
        <a
          [routerLink]="['/signup/form']"
          style="color: #ffff; text-decoration: underline;"
          >Signup</a
        >
      </p>
    </section>
  </div>
  <p
    class="form-text"
    style="font-size: 12px; font-family: sans-serif; text-align: center;"
  >
    <a
      [routerLink]="['/contact-us']"
      style="color: #ffff; text-decoration: underline;"
      >Contact us</a
    >
  </p>
</ion-content>
