<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <section class="form-logo">
    <img src="../../../assets/icons/sharing.svg" />
  </section>
  <section class="form-inputs">
    <p class="form-text">Shopping Token</p>
    <p class="form-text" style="font-size: 25px; font-family: sans-serif;">
      Login
    </p>
    <form [formGroup]="signinForm" class="signupForm" (ngSubmit)="onSubmit()">
      <ion-input
        class="input"
        type="text"
        placeholder="Mobile Number"
        formControlName="mobile"
      ></ion-input>
      <ion-input
        class="input"
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
      <ion-button type="submit" class="brder-btn button shopping-button">
        Login
      </ion-button>
    </form>
  </section>
  <section class="form-inputs">
    <!-- <p class="form-text" style="font-size: 12px; font-family: sans-serif;text-decoration: underline;">forgot password ?</p> -->
  </section>

  <section class="form-inputs">
    <p class="form-text" style="font-size: 12px; font-family: sans-serif;">
      Don't have an account ?
      <a
        [routerLink]="['/signup/form']"
        style="color: black; text-decoration: underline;"
        >Signup</a
      >
    </p>
  </section>
</ion-content>
