
<ion-content class="light-black">
  <div class="content-center">
    <section class="form-logo">
      <img src="../../../assets/icons/queued-logo.svg" />
    </section>
    <section class="form-inputs">
      <form [formGroup]="signinForm" class="signupForm" (ngSubmit)="onSubmit()">
        <ion-input
          class="input"
          type="text"
          placeholder="Mobile Number"
          formControlName="mobile"
        ></ion-input>
        <ion-input
          class="input"
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
        <ion-button type="submit" class="brder-btn shopping-button">
          Login</ion-button
        >
      </form>
    </section>
    <section class="form-inputs">
      <!-- <p class="form-text" style="font-size: 12px; font-family: sans-serif;text-decoration: underline;">forgot password ?</p> -->
    </section>

    <section class="form-inputs">
      <p class="form-text" style="font-size: 12px; font-family: sans-serif;">
        Don't have an account ?
        <a
          [routerLink]="['/signup/form']"
          style="color: #ffff; text-decoration: underline;"
          >Signup</a
        >
      </p>
      <p class="form-text" style="font-size: 12px; font-family: sans-serif;">
        <a
          [routerLink]="['/password-reset']"
          style="color: #ffff; text-decoration: underline;"
        >
          Forgot Password ?</a
        >
      </p>
    </section>
  </div>
</ion-content>
