<ion-header>
  <ion-toolbar>
    <ion-icon
      style="margin-left: 10px;"
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title style="font-size: 16px; text-align: center;"
      >Contact us</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="light-black">
  <p style="margin: 140px 50px 0 50px; color: #3fd4a0;">
    Contact Information
  </p>
  <p style="margin: 10px 50px;">
    Email:
    <span style="text-decoration: underline;">queuedapp03@gmail.com</span>
  </p>
  <p style="margin: 10px 50px;">Mobile: +91 - 9821066529</p>
</ion-content>
