<ion-header>
  <ion-toolbar>
    <ion-icon
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <!-- <ion-menu-button slot="end"
        ><ion-icon name="person-circle-outline"></ion-icon
      ></ion-menu-button> -->
    <ion-title>View Book Slots</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding light-black">
  <p style="font-weight: 600; font-size: 18px;">
    Welcome, {{bookedSlots.name}}
  </p>
  <div style="font-size: 16px; font-weight: 600; margin-bottom: 16px;">
    Check out today’s booked slots
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let element of daysList; let i = index;">
        <ion-button
          class="date-button"
          (click)="selectDate(element, i)"
          [ngClass]="isDateActive === i ? 'selected': '' "
          >{{element | date: 'dd' }} <br />
          {{element | date: 'EEE' }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <div
      style="font-size: 16px; font-weight: 600;"
      *ngIf="responseSlot.length === 0 && (viewDetailSlots | json) != '{}'"
    >
      Select Date to view booked slot
    </div>
    <div *ngIf="(viewDetailSlots | json) === '{}'">
      No Booked Slots
    </div>
    <ul *ngIf="responseSlot.length > 0" class="timeline">
      <li>
        <div class="timeline-thumb timeline-icon">
          <i class="ion-heart"></i>
        </div>
        <div class="timeline-item start">
          {{this.responseSlot.length}} booked slot
        </div>
      </li>
      <li *ngFor="let key of keys();">
        <ion-button class="timeline-time" color="light">
          {{key}}
        </ion-button>
        <div
          *ngFor="let bookedslot of viewDetailSlots[key]"
          class="timeline-item"
        >
          <ion-card class="card">
            <ion-card-title class="header">{{bookedslot.name}}</ion-card-title>
            <ion-card-content class="card-content">
              <p><span>20 Items</span> | <span>Rs 1840.00</span></p>
            </ion-card-content>
          </ion-card>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
