.timeSlots {
  .section-title {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
  }
  .shop-details {
    margin: 0 4vw;
    .shop-name {
      font-size: 20px;
      font-weight: 600;
    }
    .address {
      span {
        width: 10vw;
      }
    }
    .time {
      display: flex;
      .clock {
        margin: 4px 4px 0px 0;
      }
    }
  }

  .dates {
    margin: 0 4vw;
    .service {
      text-align: center;
      margin: 0;
      .service-icon {
        padding: 0 10px;
        text-align: center;
      }
      .name {
        color: black;
        padding: 0 0 10px 0;
        font-size: 15px;
      }
    }
    & .active-date {
      background: #40c496;

      .name {
        color: #ffff;
        font-weight: 900;
      }
      .service-icon {
        color: #ffff !important;
        font-weight: 900;
      }
    }
  }

  .hours {
    margin: 0 4vw;
    .timeBtns {
      height: 45vh;
      overflow: scroll;
      box-shadow: 0px 0px 4px #ebebeb;
      border-radius: 4px;
      padding: 12px;
    }
    .time-slot-button {
      font-size: 13px;
      font-weight: 500;
      font-family: sans-serif;
      --color: grey;
      --border-color: grey;
      --background: #ffff;
    }

    & .selected {
      --color: #ffff;
      --border-color: #40c496 !important;
      --background: #40c496;
    }
  }
}
