<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Time Slots List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="timeSlots">
  <section class="shop-details">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <ion-text color="dark" class="shop-name">
          {{shop.name}}
        </ion-text>
        <p class="address">
          <span>{{shop.address ? shop.address : 'Not Given'}}</span>
          <ion-icon style="margin: 0 5vw;" name="navigate"></ion-icon>
        </p>
        <ion-text color="medium" class="time">
          <ion-icon class="clock" name="time-outline"></ion-icon>
          {{getTime(shop.start_time)}} - {{getTime(shop.end_time)}}
        </ion-text>
      </ion-label>
    </ion-item>
  </section>
  <section class="dates">
    <p class="section-title">Available Dates to book slot</p>
    <ion-row>
      <ion-col size="4" *ngFor="let item of datesAndDays">
        <ion-card class="service" [ngClass]="item.present ? 'active-date': ''">
          <p class="service-icon">{{item.date}}</p>
          <ion-card-content class="name">
            <span>{{item.day}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
  <section class="hours">
    <p class="section-title">Available time slots</p>
    <ion-grid class="timeBtns">
      <ion-row>
        <ion-col size="4" *ngFor="let item of shop.slots; let i = index">
          <ion-button
            [ngClass]="selectedSlot === i ? 'selected': '' "
            size="small"
            fill="outline"
            class="time-slot-button"
            (click)="select(i, item)"
          >
            {{getTime(item)}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section style="text-align: center; margin: 30px 10px;" class="dates">
    <ion-button (click)="bookNowSlot()" shape="round" class="shopping-button">
      Book Now
    </ion-button>
  </section>
</ion-content>
