<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 16px; text-align: center;"
      >My booked slots</ion-title
    >
    <ion-buttons slot="end">
      <ion-menu-button style="color: #525252;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="light-black">
  <p style="margin-left: 12px; font-size: 17px;">
    Select date below to view your booked slots
  </p>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let element of daysList; let i = index;">
        <ion-button
          class="date-button"
          (click)="selectDate(element, i)"
          [ngClass]="isDateActive === i ? 'selected': '' "
          >{{element | date: 'dd' }} <br />
          {{element | date: 'EEE' }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="listBookedSlots.length>0">
        <div class="card" *ngFor="let list of listBookedSlots;">
          <div class="container">
            <h5><b>{{list.business.name}}</b></h5>
            <div>
              <div class="ion-float-left">{{list.date}}</div>
              <div class="ion-float-right">{{list.slot}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="listBookedSlots.length===0">
    <p class="ion-text-center">No booked slots</p>
  </div>
</ion-content>
