<ion-menu side="start" contentId="xyz">
  <ion-header>
    <ion-toolbar translucent>
      <!-- <ion-title> -->
      <div class="user-title ion-text-center">
        <div class="ion-margin-bottom">{{userName}}</div>
        <div>{{userMobile}}</div>
      </div>
      <!-- </ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item
      button
      class=""
      *ngFor="let page of pages"
      [ngClass]="{'hide-page': page.isConsumer}"
      [class.active-item]="selectedPath === page.url"
      [routerLink]="[page.url]"
      lines="none"
      detail="false"
    >
      <ion-icon [name]="page.icon" slot="start"></ion-icon>
      <ion-label> {{page.title}}</ion-label>
    </ion-item>
    <ion-item button (click)="logout()" lines="none" detail="false">
      <ion-icon name="power"></ion-icon>
      <ion-label style="margin-left: 10px;"> Logout</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<ion-router-outlet id="xyz"></ion-router-outlet>
