.userServices{
   .location {
      text-align: center;
      margin: 2vh 0;

      .locate{
         border: 1px solid;
         border-radius: 30px;
      }
   }

   .title{
      text-align: center;
      font-size: 20px;
      font-family: sans-serif;
      height: 5vh;
   }

   .services-list {
      display: block;
      .service {
         text-align: center;
         .service-icon {
            padding: 10px;
            height: 70px;
            width: 70px;
         }
         .name {
            padding: 8px;
         }
      }
   }
}