<ion-header>
  <ion-toolbar>
    <ion-title>Signup Form</ion-title>
    <ion-buttons slot="end">
      <ion-icon style="font-size: 25px;" name="power"></ion-icon>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="userServices">

  <section class="location">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item class="locate" lines="none">
            <ion-icon name="navigate-circle" slot="start" align-self-center></ion-icon>
            <ion-input fill="outline" shape="round" placeholder="Search location...">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button (click)="useCurrentLocation()" fill="outline" shape="round" icon-start>
            <ion-icon name="locate" style="margin: 0 5px"></ion-icon>
            Use Current Location
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="title">
    <p>Choose service you need</p>
  </section>

  <section class="services-list">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('GROCERY')">
            <img class="service-icon" src="../../assets/icons/noun_groceries_715568.png" />
            <ion-card-content class="name">
              <span>Grocery</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('MEDICINE')">
            <img class="service-icon" src="../../assets/icons/medicine.png" />
            <ion-card-content class="name">
              <span>Medicine</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('BANK')">
            <img class="service-icon" src="../../assets/icons/bank.png" />
            <ion-card-content class="name">
              <span>Bank</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('RESTAURANT')">
            <img class="service-icon" src="../../assets/icons/take-away.png" />
            <ion-card-content class="name">
              <span>Restaurant</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('GASSTATION')">
            <img class="service-icon" src="../../assets/icons/fuel-station.png" />
            <ion-card-content class="name">
              <span>Gas Station</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="service" (click)="navigateToList('OTHERS')">
            <img class="service-icon" src="../../assets/icons/noun_groceries_715568.png" />
            <ion-card-content class="name">
              <span>Others</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>



    <!--   <ion-col class="service">
      <img class="service-icon" src="../../assets/icons/bank.png" />
      <span>Bank</span>
    </ion-col> -->

  </section>
</ion-content>