<ion-header>
  <ion-toolbar>
    <ion-title>My Businesses</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goToAddProfile('Add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="businesses">
    <ion-row>
      <ion-col>
        <ion-list
          (click)="viewBookedSlots(business)"
          *ngFor="let business of businesses.user.businesses"
        >
          <ion-item>
            <ion-label>{{business.name}}</ion-label>
            <div>{{business.address}}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
