<ion-header>
  <ion-toolbar>
    <ion-icon
      style="margin-left: 10px;"
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title style="font-size: 16px; text-align: center;">Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light-black">
  <form
    class="commentForm"
    (ngSubmit)="navigateToList()"
    [formGroup]="commentForm"
  >
    <ion-textarea autoGrow="true"
      formControlName="comment"
      placeholder="Add your grocery list or special demands with this slot"
    >
    </ion-textarea>
    <ion-button
      type="submit"
      expand="block"
      class="brder-btn button shopping-button"
    >
      Book Now
    </ion-button>
  </form>
</ion-content>
