@import "../signup/signup-form/signup-form.component.scss";

.commentForm {
  padding: 20px;

   ion-textarea {
      border: 1px solid;
      min-height: 20vh;
      margin: 5vh 0;
      border-radius: 5px;
   }
}
