@import "../signup/signup-form/signup-form.component.scss";

.commentForm{
   padding: 20px;

   ion-textarea {
      border: 1px solid;
      height: 10vh;
      margin: 10vh 0;
      border-radius: 5px;
   }
}