<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row class="profile-row">
        <ion-select class="input" style="width: 100%;" formControlName="service" placeholder="Chose your service" okText="Ok"
          cancelText="Cancel">
          <ion-select-option value="grocery">Grocery</ion-select-option>
          <ion-select-option value="medicines">Medicines</ion-select-option>
          <ion-select-option value="restarunts">Restaurants</ion-select-option>
          <ion-select-option value="banks">Banks</ion-select-option>
          <ion-select-option value="gasStation">Gas Station</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-row>
      <ion-row class="profile-row">
        <ion-input class="input" formControlName="location" placeholder="Set up your location"></ion-input>
        <!-- <app-address-autocomplete (getCoords)="getCoords($event)"></app-address-autocomplete> -->
      </ion-row>
      <ion-row class="profile-row">
        <ion-input class="input" formControlName="workDays" placeholder="Enter Working days"></ion-input>
      </ion-row>
      <ion-row class="profile-row">
        <ion-input class="input" formControlName="timeperPerson" placeholder="Time per person"></ion-input>
      </ion-row>
      <ion-row class="profile-row">
        <ion-input class="input" formControlName="peronsPerSlot" placeholder="Number of people per slot"></ion-input>
      </ion-row>
    </ion-grid>

    <section class="profile-save">
      <ion-button type="submit" class="shopping-button brder-btn"> Save & Continue</ion-button>
    </section>
  </form>

</ion-content>