<ion-header>
  <ion-toolbar>
    <ion-icon
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title style="font-size: 16px; text-align: center;"
      >Shops List</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content class="shops-list light-black">
  <ion-card class="shop-item" *ngFor="let item of shopsList">
    <ion-item lines="none" (click)="goToSlots(item)">
      <ion-label class="ion-text-wrap">
        <ion-text style="margin-bottom: 10px;">
          <span class="shop-name">{{item.name}}</span>
          <ion-badge style="float: right;" color="medium"
            >{{item.distance}} m</ion-badge
          >
        </ion-text>
        <ion-text class="shop-address" color="medium">
          <p>{{item.address}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
