<ion-header>
  <ion-toolbar>
    <ion-icon
      style="margin-left: 10px;"
      (click)="goBack()"
      slot="start"
      name="chevron-back-outline"
    ></ion-icon>
    <ion-title style="font-size: 16px; text-align: center;"
      >Forgot Password</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="light-black">
  <div class="content-center" style="display: flex; justify-content: center;">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-icon
            style="font-size: 50px;"
            name="lock-closed-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h4>Forgot Your Password?</h4>
        </ion-col>
      </ion-row>
      <section class="form-inputs">
        <form [formGroup]="ForgotPass" (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col>
              <ion-input
                class="input"
                type="number"
                formControlName="mobile"
                placeholder="Type Your Mobile Number"
              ></ion-input>
              <span
                style="color: red;"
                *ngIf="submitted && ForgotPass.controls.mobile.errors?.required
        "
              >
                Please enter mobile number</span
              >
              <ion-input
                *ngIf="showOtpInput"
                class="input"
                type="number"
                formControlName="otp"
                placeholder="Enter your OTP"
              ></ion-input>
              <span
                style="color: red;"
                *ngIf="showOtpInput && submitted && ForgotPass.controls.otp.errors?.required && ForgotPass.get('otp').touched
        "
              >
                Please enter OTP</span
              >

              <section class="form-inputs" *ngIf="showOtpInput">
                <p
                  (click)="sendOTP()"
                  class="form-text"
                  style="
                    font-size: 12px;
                    font-weight: 600;
                    font-family: sans-serif;
                    text-decoration: underline;
                  "
                >
                  Resend OTP
                </p>
              </section>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button
                [disabled]="ForgotPass.controls.mobile.errors?.required"
                *ngIf="!showOtpInput"
                (click)="sendOTP()"
                class="brder-btn shopping-button"
              >
                Send OTP</ion-button
              >
              <ion-button
                [disabled]="!ForgotPass.valid"
                *ngIf="showOtpInput"
                type="submit"
                class="brder-btn shopping-button"
              >
                Send</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </section>
    </ion-grid>
  </div>
</ion-content>
