/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-modal.confirmation-popup {
  padding: 30vh 5vw;
  background: rgba(0, 0, 0, 0.5);
  .modal-wrapper {
    border-radius: 30px;
  }
}

.input {
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 25px;
  --padding-start: 15px;
  --padding-end: 15px;
  //min-height: 6vh;
  box-shadow: 2px 2px 5px #a4a4a4;
}

.brder-btn {
  --border-radius: 25px;
  margin: 10px 0;
}

.g-btn--purple-to-blue {
  background: linear-gradient(135deg, #b721ff, #6121fd);
}
.g-btn--purple-to-blue:hover {
  background: #8b21fe;
}

.active-border {
  border: 1px solid linear-gradient(135deg, #b721ff, #6121fd) !important;
}

.shopping-button {
  --background: linear-gradient(135deg, #b721ff, #6121fd) !important;
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 4px;
  border-image-source: linear-gradient(135deg, #b721ff, #6121fd);
}

.border-gradient2 {
  border-image-source: linear-gradient(135deg, #b721ff, #6121fd);
}

.margin-to-text {
  margin: 0 5px;
  color: grey;
}

.pac-container {
  top: 533px;
  border: 1px solid black;
  border-radius: 20px;
  .pac-item {
    border: none;
    margin: 5px;
    .pac-icon {
      background: url(./assets/icons/location2.svg) no-repeat center center;
    }
  } 
}
.pac-logo:after {
  display: none;
}
