<ion-content>
  <div class="success-tick">
    <img
      src="../../../assets/icons/tick.svg"
      style="width: 40px; height: 40px;"
    />
  </div>
  <p class="success-text">
    Your slot is successfully booked.
  </p>
  <div class="slot-details">
    <div class="time-wrapper">
      <div class="display-time">
        <div class="time">{{bookDetails.date | date: 'dd MMM' }}</div>
        <div class="time">{{bookDetails.date | date: 'EEE' }}</div>
      </div>
    </div>
    <div class="shop-info">
      <div class="title">
        {{bookDetails.business.name}}
      </div>
      <div class="shop-time">
        <!-- <ClockCircleOutlined /> -->
        <span>
          {{bookDetails.slot}}
        </span>
      </div>
    </div>
  </div>

  <section style="text-align: center; margin: 30px 10px;" class="dates">
    <ion-button (click)="home()" shape="round" class="shopping-button">
      Back to Home
    </ion-button>
  </section>
</ion-content>
